## Please do not change this file.
## Doing so will unfortunately create unnesseccary merge conflicts between branches and the fork, and nordugrid/arc version of this file.
## To have the automatic builds work on your fork, check that the runner is enabled in your fork: Settings->CI/CD->Runner settings

stages:
  - build
  - packages
  - deploy_and_test


fork_packages_el6:
  stage: build
  image: maikenp/arc-build-centos6
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - yum update -y
    - ./autogen.sh
    - ./configure
    - yum-builddep nordugrid-arc.spec -y
    - echo "Preparing and running rpmbuild"
    - mkdir -p rpmbuild/{SOURCES,BUILD,RPMS,SRPMS}
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz rpmbuild/SOURCES
    - rpmbuild -D "_topdir $CI_PROJECT_DIR/rpmbuild" -ba nordugrid-arc.spec
  tags:
    - build-el6
  except:
    refs:
      - master
      - next-major
      - dev-ARC6
      - branches@nordugrid/arc
      - tags@nordugrid/arc
  artifacts:
    when: on_success
    expire_in: 3 days
    paths:
    - $CI_PROJECT_DIR/rpmbuild/SRPMS/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/noarch/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/x86_64/
  allow_failure: false


fork_packages_el7:
  stage: build
  image: maikenp/arc-build-centos7
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - yum update -y
    - ./autogen.sh
    - ./configure
    - yum-builddep nordugrid-arc.spec -y
    - echo "Preparing and running rpmbuild"
    - mkdir -p rpmbuild/{SOURCES,BUILD,RPMS,SRPMS}
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz rpmbuild/SOURCES
    - rpmbuild -D "_topdir $CI_PROJECT_DIR/rpmbuild" -ba nordugrid-arc.spec
  tags:
    - build-el7
  artifacts:
    when: on_success
    expire_in: 3 days
    paths:
    - $CI_PROJECT_DIR/rpmbuild/SRPMS/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/noarch/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/x86_64/
  allow_failure: false
  except:
    refs:
      - master
      - next
      - branches@nordugrid/arc
      - tags@nordugrid/arc
  allow_failure: false


fork_packages_deb9:
  stage: build
  image: maikenp/arc-build-debian9
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - apt-get update -y
    - echo "6.0.0" > VERSION
    - ./autogen.sh
    - ./configure
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz nordugrid-arc_${VERSION}.orig.tar.gz
    - tar -z -x -f nordugrid-arc_${VERSION}.orig.tar.gz
    - cd nordugrid-arc-${VERSION}
    - dpkg-buildpackage -S -us -uc -d
    - apt-get build-dep ../nordugrid-arc_${VERSION}-1.dsc -y
    - dpkg-buildpackage -b -us -uc
    - echo Delete dbgsym debs to save space
    - rm -f ../*-dbgsym_*.deb
  tags:
    - build-deb9
  except:
    refs:
      - master
      - next
      - branches@nordugrid/arc
      - tags@nordugrid/arc
  artifacts:
    when: on_success
    expire_in: 3 days
    paths:
    - $CI_PROJECT_DIR/*.orig.tar.gz
    - $CI_PROJECT_DIR/*.debian.tar.*
    - $CI_PROJECT_DIR/*.dsc
    - $CI_PROJECT_DIR/*.deb
  allow_failure: false


packages_deb9:
  stage: packages
  image: maikenp/arc-build-debian9
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - apt-get update -y
    - ./autogen.sh
    - ./configure
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz nordugrid-arc_${VERSION}.orig.tar.gz
    - tar -z -x -f nordugrid-arc_${VERSION}.orig.tar.gz
    - cd nordugrid-arc-${VERSION}
    - dpkg-buildpackage -S -us -uc -d
    - apt-get build-dep ../nordugrid-arc_${VERSION}-1.dsc -y
    - dpkg-buildpackage -b -us -uc
    - echo Delete dbgsym debs to save space
    - rm -f ../*-dbgsym_*.deb
  tags:
    - 158.39.77.8
    - bgo-runner
  only:
    - branches@nordugrid/arc
    - tags@nordugrid/arc
  artifacts:
    when: on_success
    expire_in: 30 days
    paths:
    - $CI_PROJECT_DIR/*.orig.tar.gz
    - $CI_PROJECT_DIR/*.debian.tar.*
    - $CI_PROJECT_DIR/*.dsc
    - $CI_PROJECT_DIR/*.deb
  allow_failure: true


packages_el6:
  stage: packages
  image: maikenp/arc-build-centos6
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - yum update -y
    - ./autogen.sh
    - ./configure
    - yum-builddep nordugrid-arc.spec -y
    - echo "Preparing and running rpmbuild"
    - mkdir -p rpmbuild/{SOURCES,BUILD,RPMS,SRPMS}
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz rpmbuild/SOURCES
    - rpmbuild -D "_topdir $CI_PROJECT_DIR/rpmbuild" -ba nordugrid-arc.spec
  tags:
    - 158.39.77.164
    - bgo-runner
  only:
    - branches@nordugrid/arc
    - tags@nordugrid/arc
  artifacts:
    when: on_success
    expire_in: 30 days
    paths:
    - $CI_PROJECT_DIR/rpmbuild/SRPMS/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/noarch/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/x86_64/
  allow_failure: false


packages_el7:
  stage: packages
  image: maikenp/arc-build-centos7
  script:
    - echo "master_$(date +%Y%m%dT%H%M%S)_${CI_COMMIT_SHA:0:8}" > VERSION
    - yum update -y
    - ./autogen.sh
    - ./configure
    - yum-builddep nordugrid-arc.spec -y
    - echo "Preparing and running rpmbuild"
    - mkdir -p rpmbuild/{SOURCES,BUILD,RPMS,SRPMS}
    - make dist
    - VERSION=`cat VERSION`
    - mv nordugrid-arc-${VERSION}.tar.gz rpmbuild/SOURCES
    - rpmbuild -D "_topdir $CI_PROJECT_DIR/rpmbuild" -ba nordugrid-arc.spec
  tags:
    - 158.39.77.235
    - bgo-runner
  only:
    - branches@nordugrid/arc
    - tags@nordugrid/arc
  artifacts:
    when: on_success
    expire_in: 30 days
    paths:
    - $CI_PROJECT_DIR/rpmbuild/SRPMS/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/noarch/
    - $CI_PROJECT_DIR/rpmbuild/RPMS/x86_64/
  allow_failure: false


deploy_staging_el6:
  stage: deploy_and_test
  image: docker:stable
  script:
    - source /dockerrun.sh
  environment:
    name: staging
  artifacts:
    when: always
    paths:
     - /arc/arc-logs/
     - /arc/arc-tests/
  dependencies:
    - packages_el6
  tags:
    - docker-socket-runner-bgo4 
  only:
    - branches@nordugrid/arc
    - tags@nordugrid/arc
  allow_failure: true


deploy_staging_el7:
  stage: deploy_and_test
  image: docker:stable
  script:
    - source /dockerrun.sh
  environment:
    name: staging
  artifacts:
    when: always
    paths:
     - /arc/arc-logs/
     - /arc/arc-tests/
  dependencies:
    - packages_el7
  tags:
    - docker-socket-runner1
  only:
    - branches@nordugrid/arc
    - tags@nordugrid/arc
  allow_failure: true

## note-to-self: can also download the rpms from latest job with (example for el7):
    ## wget 'https://source.coderefinery.org/nordugrid/arc/-/jobs/artifacts/master/download?job=packages_el7' -O artifacts.zip
