<ArcConfig>
 <Chain>
  <Component name="tls.client">
   <KeyPath>key.pem</KeyPath>
   <CertificatePath>cert.pem</CertificatePath>
   <CACertificatePath>ca.pem</CACertificatePath>
   <!--KeyPath>/home/USER/userkey.pem</KeyPath-->
   <!--CertificatePath>/home/USER/usercert.pem</CertificatePath-->
   <!--CACertificatesDir>/etc/grid-security/certificates</CACertificatesDir-->
  </Component>
 </Chain>
</ArcConfig>
