<?xml version="1.0"?>
<ArcConfig 
  xmlns="http://www.nordugrid.org/schemas/ArcConfig/2007"
  xmlns:tcp="http://www.nordugrid.org/schemas/ArcMCCTCP/2007"
  xmlns:pdp="http://www.nordugrid.org/schemas/pdp/Config"
  xmlns:charon="http://www.nordugrid.org/schemas/ArcConfig/2007/charon"
  xmlns:echo="urn:echo_config"
>
  <!-- Common configuration of the daemon -->
  <Server>
    <PidFile>/var/run/arched.pid</PidFile>
    <Logger level="VERBOSE">./charon.log</Logger>
  </Server>
    <ModuleManager>
        <Path>/mn/tid/epf-a1/weizhonq/susy_backup/new-arc-install/lib/arc/</Path>
    </ModuleManager>
    <Plugins><Name>mcctcp</Name></Plugins>
    <Plugins><Name>mcctls</Name></Plugins>
    <Plugins><Name>mcchttp</Name></Plugins>
    <Plugins><Name>mccsoap</Name></Plugins>
    <Plugins><Name>arcpdc</Name></Plugins>
    <Plugins><Name>charon</Name></Plugins>

    <Chain>
        <Component name="tcp.service" id="tcp">
            <next id="tls"/>
            <tcp:Listen><tcp:Port>60000</tcp:Port></tcp:Listen>
        </Component>
	<Component name="tls.service" id="tls">
            <next id="http"/>
	    <KeyPath>../../tests/echo/key.pem</KeyPath>
	    <CertificatePath>../../tests/echo/cert.pem</CertificatePath>
	    <CACertificatePath>../../tests/echo/ca.pem</CACertificatePath>
	</Component>
        <Component name="http.service" id="http">
            <next id="soap">POST</next>
        </Component>
        <Component name="soap.service" id="soap">
            <next id="plexer"/>
        </Component>
        <Plexer name="plexer.service" id="plexer">
            <next id="charon_service">^/Charon$</next>
            <next id="echo">^/Echo$</next>
        </Plexer>
        <Service name="charon" id="charon_service">
            <!--The element <Evaluator/>, <Policy/> and <Request/> configuration 
            are supposed to be used to load object; element <PolicyStore/> is 
            supposed to be used to get the location of policy-->
            <charon:PDPConfig>
                <charon:PolicyStore>
                  <charon:Location Type="file">charon_policy.xml.example</charon:Location>
                  <!-- other policy location-->
                </charon:PolicyStore>
                <charon:Evaluator name="arc.evaluator" />
                <charon:Policy name="arc.policy" />
                <charon:Request name="arc.request" />
            </charon:PDPConfig>
        </Service>
        <Service name="echo" id="echo">
            <SecHandler name="arc.authz" id="authz" event="incoming">
              <PDP name="simplelist.pdp" location="simplelist"/>
              <PDP name="arc.pdp">
                <pdp:PolicyStore>
                  <pdp:Location type="file">Policy_Example.xml</pdp:Location>
                  <!-- other policy location-->
                </pdp:PolicyStore>
              </PDP>
              <!--Remote pdp service (charon) invoking-->
              <!--PDP name="pdpservice.invoker">
                <ServiceEndpoint>https://127.0.0.1:60000/Charon</ServiceEndpoint>
                <KeyPath>./key.pem</KeyPath>
                <CertificatePath>./cert.pem</CertificatePath>
                <CACertificatePath>./ca.pem</CACertificatePath>
              </PDP-->
              <PDP name="delegation.pdp"/>
            </SecHandler>
            <next id="echo"/>
            <echo:prefix>[ </echo:prefix>
            <echo:suffix> ]</echo:suffix>
        </Service>
    </Chain>
</ArcConfig>
