# ARC client user configuration file.
# Together with the system configuration file, this file configures the
# behaviour of the ARC clients, through
#
[common]
# The 'defaultservices' attribute defines a list of services to use if
# none is given on the commandline.
# The value of this attribute should follow the format:
# <service_type>:<flavour>:<service_url>
# where <service_type> is type of service (e.g. computing or index),
# <flavour> specifies type of middleware plugin to use when contacting
# the service (e.g. ARC0, ARC1, CREAM, UNICORE, etc.) and <service_url>
# is the URL used to contact the service. If the system configuration
# defines a list of default services, those will be over written by
# services defined here.
#defaultservices=index:ARC0:ldap://grid.tsl.uu.se:2135/Mds-Vo-name=Sweden,o=grid computing:ARC1:https://knowarc1.grid.niif.hu:60000/arex

# The 'rejectservices' attribute defines a list of services which will
# be rejected for submission. A use-case for this attribute is a
# situation where a specfic service, pulled in by a index server, is not
# usable for submission, not filtered by the broker and gets a high
# ranking, then by specifying it in the 'rejectservices' attribute it
# will be removed from the list of possible targets. This attribute is
# not limited to submission, but also applies to job management in
# general. Note that this attribute will not over written by the system
# configuration, but services defined here are, if defined there,
# appended to the list of services to reject.
#rejectservices=computing:ARC1:https://bad-service.org:60000/arex computing:ARC0:ldap://another-bad-service:2135/o=grid

# Specify the broker used in resource discovery. The default broker is
# the 'Random' broker.
#brokername=FastestQueue
# Some brokers takes arguments and these can be specified by using the
# 'brokerarguments' attribute.
#brokerarguments=

# Set the period of time the client should wait for a service to respond
# when communicating with it. The period should be given in seconds.
#timeout=50

# Path to the job list file can be specified with the joblistfile
# attribute. This file will be used by commands such as arcsub, arcstat,
# arcsync etc. to read and write information about jobs. The default
# location of the file is in home directory in the .arc directory with
# name jobs.xml
#joblist=/home/user/run/jobs.xml
#joblist=C:\\run\jobs.xml

# Default bartender services can be specified by the bartender
# attribute. Multiple Bartender URLs should be separated with a space.
# These URLs are used by the 'chelonia' command line tool, the Chelonia
# FUSE plugin and by the arc data tool commands arccp, arcls, arcrm, etc.
#bartender=http://my.bar.com/tender

# The location of credentials can be specified by using the 'proxypath',
# 'keypath' or 'certificatepath' attribute, in case they are located
# in a non-standard location.
#proxypath=/tmp/my-proxy
#keypath=/home/username/key.pem
#certificatepath=/home/username/cert.pem

# The location of the directory containing CA-certificates can also be
# specified.
#cacertificatesdirectory=/home/user/cacertificates

# The alias section can be used to define aliases of services. An alias
# defined in the system configuration will be overrided by an alias, in
# the client configuration, with the same name.
#[alias]
# The format of an alias follows the format of the 'defaultservices'. So
# an alias can be defined as:
#myalias=computing:ARC1:https://my-favorite-cluster.org:60000/arex
# and can thus be used as:
# $ arcsub -c myalias myjob.jsdl
# An alias definition is not limited to a single alias and can also
# contain references to other aliases.
#my-arc0=computing:ARC0:ldap://my-favorite-arc0-cluster.org:2135/ computing:ARC0:ldap://another-favorite-cluster.org:2135/
#my-arc1=myalias computing:ARC1://another-favorite-arc1-cluster.org:60000/arex
#my-arc-clusters=my-arc0 my-arc1
