####################################################################
#
# THIS DOCUMENT IS DEPRECATED !!!
#
# For configuration please use minimal configuration templates 
# provided for each service in the doc/examples directory of ARC
# installation
#
# For a complete reference describing all configuration options, use
# the document
#
#    arc.conf.reference
#
# which is located in this directory
#
####################################################################
