[ v3_ca ]
subjectKeyIdentifier=hash
#authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign

[ host_cert ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier= keyid, issuer

[ usr_cert ]
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage        = clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier= keyid, issuer
#subjectAltName=email:copy
#issuerAltName=issuer:copy
