<?xml version="1.0"?>
<ArcConfig 
  xmlns="http://www.nordugrid.org/schemas/ArcConfig/2007"
  xmlns:tcp="http://www.nordugrid.org/schemas/ArcMCCTCP/2007"
>
    <Server
        <Pidfile>/var/run/arched.pid</Pidfile>
        <Logger level="ERROR">/var/log/arched.log</Logger>
    </Server>
    <ModuleManager>
        <Path>/usr/local/lib/arc/</Path>
    </ModuleManager>
    <Plugins><Name>mcctcp</Name></Plugins>
    <Plugins><Name>mcctls</Name></Plugins>
    <Plugins><Name>mcchttp</Name></Plugins>
    <Plugins><Name>mccsoap</Name></Plugins>
    <Chain>
        <Component name="tcp.service" id="tcp">
            <next id="http"/> 
            <tcp:Listen><tcp:Port>60000</tcp:Port></tcp:Listen>
        </Component>
        <Component name="http.service" id="http">
            <next id="soap">POST</next>
            <next id="plexer">GET</next>
            <next id="plexer">PUT</next>
        </Component>
        <Component name="soap.service" id="soap">
            <next id="plexer"/>
        </Component>
        <Plexer name="plexer.service" id="plexer">
            <next id="hash">^/AHash$</next>
            <next id="librarian">^/Librarian$</next>
            <next id="bartender">^/Bartender$</next>
            <next id="shepherd">^/Shepherd$</next>
            <next id="httpd">^/httpd/</next>
        </Plexer>
        <Service name="pythonservice" id="hash">
            <ClassName>storage.hash.hash.AHashService</ClassName>
            <AHashClass>storage.hash.hash.CentralAHash</AHashClass>
            <StoreClass>storage.common.PickleStore</StoreClass>
            <StoreCfg><DataDir>/var/spool/arc/hash_data</DataDir></StoreCfg>
        </Service>
        <Service name="pythonservice" id="librarian">
            <ClassName>storage.librarian.librarian.LibrarianService</ClassName>
            <AHashURL>http://localhost:60000/AHash</AHashURL>
            <HeartbeatTimeout>30</HeartbeatTimeout>
            <CheckPeriod>20</CheckPeriod>
        </Service>
        <Service name="pythonservice" id="bartender">
            <ClassName>storage.bartender.bartender.BartenderService</ClassName>
            <LibrarianURL>http://localhost:60000/Librarian</LibrarianURL>
        </Service>
        <Service name="pythonservice" id="shepherd">
            <ClassName>storage.shepherd.shepherd.ShepherdService</ClassName>
            <ServiceID>http://localhost:60000/Shepherd</ServiceID>
            <CheckPeriod>20</CheckPeriod>
            <MinCheckInterval>0.1</MinCheckInterval>
            <StoreClass>storage.common.PickleStore</StoreClass>
            <StoreCfg>
                <DataDir>/var/spool/arc/shepherd_data</DataDir>
            </StoreCfg>
            <BackendClass>storage.shepherd.httpdbackend.HTTPDBackend</BackendClass>
            <BackendCfg>
                <DataDir>/var/spool/arc/shepherd_store</DataDir>
                <TransferDir>/var/spool/arc/shepherd_transfer</TransferDir>
                <!-- Change this prefix to the external interface of your machine -->
                <TURLPrefix>http://localhost:60000/httpd/</TURLPrefix>
            </BackendCfg>
            <LibrarianURL>http://localhost:60000/Librarian</LibrarianURL>
            <BartenderURL>http://localhost:60000/Bartender</BartenderURL>
        </Service>
        <Service name="httpd" id="httpd">
            <DocumentRoot>/var/spool/arc/shepherd_transfer</DocumentRoot>
            <SlaveMode>1</SlaveMode>
        </Service>
    </Chain>
</ArcConfig>
