[Unit]
Description=NorduGrid/ARC local resource information system
Requires=arc-infosys-ldap-slapd.service
After=arc-infosys-ldap-slapd.service
BindsTo=arc-infosys-ldap-slapd.service

[Service]
Type=forking
PIDFile=/var/run/arc/bdii/bdii-update.pid
User=ldap
PermissionsStartOnly=true
ExecStartPre=/usr/share/arc/create-bdii-config
ExecStart=/usr/sbin/bdii-update -c /var/run/arc/infosys/bdii.conf -d

[Install]
WantedBy=multi-user.target
