[Unit]
Description=NorduGrid/ARC local resource information system
Requires=nordugrid-arc-slapd.service
After=nordugrid-arc-slapd.service
BindsTo=nordugrid-arc-slapd.service

[Service]
Type=forking
PIDFile=/var/run/arc/bdii/bdii-update.pid
User=ldap
ExecStartPre=/usr/share/arc/create-bdii-config
ExecStart=/usr/sbin/bdii-update -c /var/run/arc/infosys/bdii.conf -d

[Install]
WantedBy=multi-user.target
