[Unit]
Description=NorduGrid/ARC Information system
After=syslog.target network.target
PartOf=arc-infosys-ldap.service

[Service]
Type=forking
PIDFile=/var/run/arc/bdii/db/slapd.pid
ExecStartPre=/usr/share/arc/create-slapd-config
ExecStart=/bin/sh /var/run/arc/infosys/bdii-slapd.cmd

[Install]
WantedBy=multi-user.target
