[Unit]
Description=NorduGrid/ARC Information Endpoint Registration

[Service]
Type=forking
PIDFile=/var/run/nordugrid-arc-inforeg.pid
ExecStartPre=/usr/share/arc/create-inforeg-config
ExecStart=/usr/share/arc/grid-info-soft-register-wrap

[Install]
WantedBy=multi-user.target
