[Unit]
Description=NorduGrid/ARC Grid Information Index Server (EGIIS)
Requires=nordugrid-arc-slapd.service
After=nordugrid-arc-slapd.service

[Service]
Type=forking
User=ldap
ExecStart=/usr/sbin/arc-infoindex-server -c /etc/arc.conf -f /var/run/arc/infosys/giis-fifo
ExecStop=/bin/sh -c '[ -p /var/run/arc/infosys/giis-fifo ] && echo STOP > /var/run/arc/infosys/giis-fifo'

[Install]
WantedBy=multi-user.target
